:root {
    --font-body: "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: "Fira Mono", monospace;

    --lavender-brush: #F8E9E9;
    --vermilion: #ec4740ff;
    --lighter-blue: #D0E8FF;
    --light-sky-blue: #96cdffff;
    --prussian-blue: #002642;
    --celadon: #a7e8bdff;
    --celadon-light: rgb(228 255 237);
    --dark-spring-green: #0c7c59ff;
    --licorice: #22181cff;

    /* --color-bg: #ffd6d6; */
    --color-bg: var(--lavender-brush);
    --color-taco-red: var(--vermilion);
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 32px;

    --container-border-radius: 4px;

    --border-success: 2px solid var(--celadon);
    --background-color-success: var(--celadon-light);

    --button-padding: var(--space-1) var(--space-2);
    --button-radius: var(--space-1);

    --container-padding: var(--space-3);
    --container-radius: var(--space-2);
    --container-gap: var(--space-3);

    --list-item-gap: var(--space-2);

    --hover-brightness: 1.2;

    font-size: 16px;
    font-family: var(--font-body);
}

@keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: 0; } 
    100% { opacity: 1; } 
}

@keyframes flash-mid {
    0% { opacity: 1; } 
    50% { opacity: 0.3; } 
    100% { opacity: 1; } 
}

body {
    background: var(--color-bg);
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
}

button:not([disabled]).btn-primary {
    background-color: #ff645e;
    color: white;
    border-radius: var(--container-border-radius);
    border: 1px solid black;
    height:1.8em;
    cursor: pointer;
    font-family: var(--font-body);
}
button:not([disabled]).btn-primary:hover {
    filter: brightness(120%);
}
button:focus {
    border: 2px solid black;
}
button:not([disabled]).btn-primary:active {
    filter:brightness(80%);
}
textarea, input[type="text"] {
    border-radius: var(--container-border-radius);
}
input[type="text"].invalid,
textarea.invalid {
    border:2px solid red;
}
input[type="text"].valid,
textarea.valid  {
    border: var(--border-success);
    background-color: var(--background-color-success);
}
.flashing {
    animation: flash-mid linear 1.25s infinite;
}
